build/
.gradle/
bin/main/.DS_Store
bin/main/constants/Difficulty.class
bin/main/constants/Direction.class
bin/main/game/Character.class
bin/main/game/ConfigReader.class
bin/main/game/Enemy.class
bin/main/game/Interface.class
bin/main/game/Inventory.class
bin/main/game/Main.class
bin/main/game/Map.class
bin/main/game/Movement.class
bin/main/game/Room.class
bin/main/game/Bag/BagList.class
bin/main/game/Bag/CMUtility.class
bin/main/game/Bag/Weapon.class
bin/main/globals/HandledException.class
bin/main/globals/Thing.class
bin/test/hamcrest-core-1.3.jar
bin/test/junit-4.13.2.jar
bin/test/SampleTest.class
